.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 5px;
  height: 35px;
}

.menu button {
  display: inline-block;
  outline: 0;
  background: transparent;
  border: none;
  padding: 5px 15px;
  margin-right: 5px;
  height: 100%;
  line-height: 100%;
  width: auto;
  white-space: nowrap;
  background-color: #512DA8;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1em;
  border-radius: 1px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.menu button i {
  margin-right: 5px;
}

.menu button:hover {
  background-color:#673AB7;
  color: #757575;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}