.issues {
  margin-left: 60px;
  width: 100%;
}

.issues > ul {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 5px;
}

.issues > ul > li {
  height: 24px;
}

.issue button {
  border: none;
  background: transparent;
  color: #212121;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.number {
  color: #757575;
  width: 50px;
  display: inline-block;
}

.issue button:focus {
  outline: 0;
}

.issue button.selected {
  padding: 5px;
  background-color: #673AB7;
  color: #FFFFFF;
}

.issue button.selected .number {
  color: #9E9E9E;
}

.issue button.selected::before{
  content: "> ";
  font-weight: lighter;
}