

.issue-details .body {
  color: #212121;
}

.issue-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.issue-details .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.issue-details .author {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.author img {
  margin-right: 10px;
  border-radius: 2px;
  width: 65px;
  height: 65px;
  display: block;
}

.issue-state {
  border: 0.5px solid gray;
  border-radius: 2px;
  padding: 2px;
  margin-right: 5px;
  width: 60px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}

.issue-state.closed {
  background-color: #F44336;
  color: #FFFFFF;
}

.issue-state.open {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.entry {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 5px;
}

.meta {
  margin-bottom: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entry .header {
  font-weight: 600;
}

.entry .header .login {
  margin-right: 10px;
}

.meta .headline {
  display: inline;
  font-weight: 200;
  font-size: 28px;
}

.comments ul {
  list-style-type: none;
  padding-left: 0px;
}
