.issue button {
  border: none;
  background: transparent;
  color: #212121;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.issue button:focus {
  outline: 0;
}

.issue button.selected {
  font-size: 20px;
  padding: 5px;
}

.issue button.selected::before{
  content: "> ";
  font-weight: lighter;
}

.issue .details .body {
  color: #757575;
}

.issue .details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.issue .details .author {
  display: flex;
  flex-direction: column;
}

.issue .details .author img {
  margin-right: 10px;
  border-radius: 2px;
  width: 80px;
  height: 80px;
  display: block;
}

.issue-state {
  border: 0.5px solid gray;
  border-radius: 2px;
  padding: 2px;
  margin-right: 5px;
  width: 60px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}

.issue-state.closed {
  background-color: #F44336;
  color: #FFFFFF;
}

.issue-state.open {
  background-color: #4CAF50;
  color: #FFFFFF;
}