.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 0.5px solid #FF5722;
  border-radius: 2px;
}

.menu button {
  outline: 0;
  background: transparent;
  border: none;
  padding: 0px 5px;
  margin: 0px;
  height: 100%;
  width: auto;
  height: 25px;
  white-space: nowrap;
}

.menu button i {
  margin-right: 5px;
}

.menu button:hover {
  background-color: #757575;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}