

.issue-details .body {
  color: #757575;
}

.issue-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.issue-details .milestone-assignee {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.issue-details .milestone-assignee span {
  margin-right: 15px;
}

.issue-details .author {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.author img {
  margin-right: 10px;
  border-radius: 2px;
  width: 65px;
  height: 65px;
  display: block;
}

.issue-state {
  border: 0.5px solid gray;
  border-radius: 2px;
  padding: 2px;
  margin-right: 5px;
  width: 60px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}

.issue-state.closed {
  background-color: #F44336;
  color: #FFFFFF;
}

.issue-state.open {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.entry {
  border: 1px solid #FF5722;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 5px;
}

.meta {
  margin-bottom: 10px;
  border-radius: 2px;
}

.entry .header .login {
  margin-right: 10px;
}

.meta .headline {
  border-bottom: 1px solid #FF5722;
}

.comments ul {
  list-style-type: none;
  padding-left: 0px;
  overflow-y: visible;
}
