.queue-count {
  position: fixed;
  bottom: 0px;
  right: 15px;
  background-color: #616161;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.queue-count.visible {
  display: block;
}

.queue-count.hidden {
  display: none;
}