.repositories ul {
  padding-left: 0px;
  margin-top: 0px;
}

.repositories ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.repository {
  display: flex;
  flex-direction: row;
}

.repository button {
  border: none;
  background: transparent;
  font-size: 16px;
  color: #212121;
  outline: 0;
}

.repository.selected {
  background-color: #FF5722;
}

.repository button:hover {
  text-decoration: underline;
  outline: 0;
}

.repository button:focus {
  outline: 0;
}

.repository .fa {
  width: 15px;
}