.repositories ul {
  padding-left: 0px;
}

.repository button {
  border: none;
  background: transparent;
  font-size: 16px;
  color: #212121;
}

.repository button:hover {
  text-decoration: underline;
}